.about {
  .page-heading {
    text-align: center;
    margin: 80px 0;
    hr {
      display: block;
      clear: both;
      margin-top: 20px;
      margin-bottom: 20px;
      width: 100%;
      background: #ccc;
      width: 60%;
      height: 2px;
      border: 2px solid #031169;
    }
    span {
      margin: 0 0 18px 0;
      color: #333333;
      font-weight: 400;
      line-height: 1.5em;
      letter-spacing: 1px;
    }
  }
  .abt {
    font-size: 16px;
    color: #2f2d2d;
    padding-bottom: 20px;
    font-weight: 600;
    border-bottom: 1px solid #031169;
  }
  .desc {
    font-size: 16px;
    color: #222;
    line-height: 20px;
    padding: 0;
    line-height: 26px;
    p {
      margin-top: 20px;
      span {
        display: block;
      }
    }
  }
  .vision_fixed {
    margin-top: 80px;
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    overflow: hidden;
    background-image: url("/ydd-photos/Vision-Statement.jpg");
  }
  .vision-text {
    background-color: #fff;
    width: 100%;
    text-align: center;
    line-height: 1.5em;
    letter-spacing: 1px;
    padding: 20px;
    h3 {
      color: #000;
      text-align: center;
      margin-top: 30px;
      padding-bottom: 20px;
    }
    hr {
      width: 75%;
      height: 2px;
      border: none;
      color: red;
      background-color: #031169;
      margin-bottom: 30px;
    }
    .vision {
      text-align: center;
      color: #777;
      font-size: 40px;
      text-align: center;
      line-height: 50px;
      padding: 50px;
      b {
        color: #f8ca13;
      }
    }
  }

  .mission_fixed {
    margin-top: 80px;
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    overflow: hidden;
    background-image: url("/ourmission.png");
    display: flex;
    justify-content: center;
    align-items: center;
    .strip {
      background-color: #111;
      color: #fff;
      padding: 0 18px;
      font-size: 25px;
      letter-spacing: 10px;
      height: 60px;
      line-height: 60px;
    }
  }
  .mission-heading {
    border-bottom: 1px solid #031169;
    margin: 40px 0 15px;
  }
  .mission-text {
    font-size: 26px;
    color: #222;
    line-height: 34px;
    width: 80%;
  }
  .cards-wrap {
    padding: 30px 20px 20px;
    margin: 30px 0 0 0;
    box-shadow: 0px 10px 10px 0px rgba(187, 235, 241, 0.45);

    .card-heading {
      border-bottom: 1px solid #031169;
      margin: 10px 0 20px;
      font-weight: 600;
      color: #222;
      font-size: 18px;
      padding-bottom: 10px;
    }
    .ant-card-body {
      padding: 20px 0;
    }
    .card-text {
      font-size: 16px;
      color: #222;
      line-height: 20px;
      padding: 0;
    }
  }

  .values_fixed {
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    overflow: hidden;
    background-image: url("/ourvalues.png");
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    .strip {
      background-color: #111;
      color: #fff;
      padding: 0 18px;
      font-size: 25px;
      letter-spacing: 10px;
      height: 60px;
      line-height: 60px;
    }
  }

  @media (max-width: 767px) {
    .abt {
      margin-top: 50px;
    }
  }
}
