.afcf {
  .banner {
    width: 100%;
    background-image: url("/ydd-photos/afcfbanner.jpg");
    background-position-y: -180px;
    background-size: cover;
    height: 550px;
    padding-top: 230px;
    text-align: center;
    &.afcmf-banner {
      background-image: url("/ydd-photos/afcmfbanner.jpg");
    }
    &.about-afcf-banner {
      background-image: url("/ydd-photos/afcfslider2.jpg");
    }
    p {
      line-height: 45px;
      color: #fff;
      letter-spacing: 1.5px;
      text-shadow: 5px 5px 5px rgb(14, 33, 33);
      font-size: 40px;
      font-weight: 600;
    }
  }
  .page-heading {
    text-align: center;
    margin-bottom: 60px;
    hr {
      display: block;
      clear: both;
      margin-top: 20px;
      margin-bottom: 20px;
      width: 100%;
      background: #ccc;
      width: 60%;
      height: 2px;
      border: 1px solid #031169;
    }
  }
  .afcf-content {
    margin: auto;
    margin-bottom: 50px;
  }
  .top-btns {
    text-align: center;
    width: 100%;
    padding: 30px 0;
  }
  .heading {
    font-weight: 600;
    width: 100%;
    font-size: 24px;
    color: #222;
    padding-bottom: 20px;
    border-bottom: 1px solid #031169;
  }
  .header-desc {
    font-size: 16px;
    color: #222;
    line-height: 20px;
    padding: 0;
    line-height: 26px;
  }
  h3 {
    font-weight: 300;
    font-size: 18px;
  }
  .grid1 {
    background-color: #323565;
    color: #fff;
    font-size: 26px;
    line-height: 40px;
    height: 170px;
    padding: 30px 20px;
  }
  .grid2 {
    background-image: url("/ydd-photos/img_community-600x400.jpg");
    background-size: cover;
    background-position: center;
    height: 170px;
    padding: 30px 20px;
    width: 100%;
    overflow: hidden;
    position: relative;
    &.grid3 {
      background-image: url("/ydd-photos/img_mission-600x400.jpg");
    }
    &.grid4 {
      background-image: url("/ydd-photos/afcf.png");
    }
    .inner-slide {
      background-color: rgba(255, 255, 255, 0.925);
      color: #000;
      position: absolute;
      top: 70%;
      left: 0;
      transition: linear all 0.3s;
      height: 100%;
      width: 100%;
      padding: 15px;
      p {
        font-size: 18px;
      }
      span {
        font-size: 14px;
      }
    }
    &:hover {
      .inner-slide {
        top: 0;
      }
    }
  }
  @media (max-width: 767px) {
    .banner {
      height: 400px;
      background-size: cover;
      background-repeat: no-repeat;
      padding-top: 120px;
      background-position-y: 0px;
      p {
        line-height: 40px;
        font-size: 20px;
      }
    }
    .page-heading {
      span {
      }
    }
    .cards-wrap {
      .card-text {
        margin-bottom: 30px;
      }
    }
  }
}
