body,
.body {
  width: 100%;
}
.btn-primary {
  background-color: #3bafdae3 !important;
  border: 0 !important;
}
.mobile {
  display: none;
}
.web {
  display: inline-block;
}

button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

@media (max-width: 767px) {
  .mobile {
    display: none;
  }
  .web {
    display: none;
  }
}
