body,
.body {
  width: 100%;
}
.btn-primary {
  background-color: #3bafdae3 !important;
  border: 0 !important;
}
.mobile {
  display: none !important;
}
.web {
  display: inline-block !important;
}

@media (max-width: 767px) {
  .mobile {
    display: none !important;
  }
  .web {
    display: none !important;
  }
}
