body,
.body {
  width: 100%;
}
.btn-primary {
  background-color: #3bafdae3 !important;
  border: 0 !important;
}
.mobile {
  display: none;
}
.web {
  display: inline-block;
}

button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.Snackbar_snackbar-wrapper-bottom-right__8wQeQ,
.Snackbar_snackbar-wrapper-top-right__2CAmf {
  z-index: 100 !important;
}
.css-2b097c-container {
  position: relative;
  box-sizing: border-box;
  color: #2c2c2c !important;
  background: #e6e6e670 !important;
  border: 1px solid #b6b6b670 !important;
  border-radius: 5px !important;
  margin-bottom: 10px !important;
}

@media (max-width: 767px) {
  .mobile {
    display: none;
  }
  .web {
    display: none;
  }
}
