.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  &.transparent {
    background-color: rgba(255, 255, 255, 0.801);
    .logo-text,
    .logo-icon {
      color: #000;
    }
    .navigation-links {
      span {
        color: rgb(0, 0, 0);
        a {
          color: rgb(0, 0, 0);
        }
      }
    }
  }
  .for-navi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
  }
  .logo-icon {
    position: relative;
    top: 4px;
  }
  .logo-text {
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    span {
      font-weight: 300;
    }
  }
  .avatar {
    display: inline;
    max-width: 30px;
    max-height: 30px;
    min-width: 30px;
    min-height: 30px;
    border-right: 50%;
    overflow: hidden;
    img {
      // object-fit: fill;
      width: 30px;
    }
  }
  .navigation-links {
    span {
      color: #fff;
      font-weight: 500;
      a {
        color: #fff;
      }
    }
  }
  .initials {
    width: 40px;
    height: 40px;
    display: inline-block;
    background: #aaaaaa;
    text-align: center;
    border-radius: 50%;
    padding-top: 9px;
    font-style: 20px;
    cursor: pointer;
  }
  .mobile {
    display: none;
  }

  @media (max-width: 767px) {
    .mobile {
      display: block;
    }
    .for-navi {
      padding: 0 !important;
    }
    .navigation-links {
      display: none !important;
      &.show {
        display: block !important;
        width: 200px;
        background-color: #fff;
        position: absolute;
        top: 58px;
        right: 0px;
        z-index: 1000000000;
        border: 1px solid #eee;
        border-radius: 4px;
        overflow: hidden;
        span {
          display: block;
          padding: 10px 20px;
          border-bottom: 1px solid #eee;
          a {
            color: #3bafda;
          }
        }
      }
    }
  }
}
