.iyc-register {
  padding: 100px 350px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/ydd-photos/valiant.jpg");
  position: relative;
  height: 100vh;
  overflow: auto;
  .area {
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.96);
    border-radius: 12px;
  }
  .itms {
    padding-bottom: 40px;
    float: right;
    margin-right: 30px;
  }

  @media (max-width: 767px) {
    padding: 90px 10px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url("/ydd-photos/iyc.jpeg");
    .area {
      padding: 30px;
      .itms {
        padding-bottom: 10px;
        float: unset;
        margin-right: 0px;
      }
    }
  }
}
