.reports {
  .banner {
    background-color: #3bafda;
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .big {
      font-family: Roboto;
      text-transform: none;
      font-weight: 200;
      line-height: 48px;
      color: #f7d6ac;
      letter-spacing: 1.5px;
      text-shadow: 4px 3px 5px rgb(14, 33, 33);
      margin-bottom: 0;
      font-size: 34px;
    }
    .small {
      font-family: "Volkhov", serif;
      color: #fff;
      opacity: 0.7;
      font-size: 17px;
      font-style: italic;
      font-weight: 300;
      display: block;
    }
  }
  .reports-contents {
    padding-top: 40px;
    .blog {
      width: 100%;
      padding-bottom: 20px;
      border-bottom: 1px solid #eee;
      margin-bottom: 40px;
      img {
        width: 100%;
        margin-bottom: 10px;
      }
      .time {
        color: #999;
        font-style: italic;
        font-size: 12px;
        span {
          color: #666666;
        }
      }
      .blog-title {
        font-size: 32px;
        font-weight: 600;
        color: #000;
      }
      .blog-text {
        font-size: 18px;
        font-weight: 300;
        line-height: 26px;
        color: #000;
      }
      .foot {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .cont {
          color: #3bafda;
          padding: 0 !important;
        }
        span {
          padding: 0 10px;
        }
      }
    }
  }
}
