.single-report {
  .banner {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    p {
      text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
      color: #fff;
      margin-bottom: 0;
      font-size: 44px;
      letter-spacing: 1px;
      text-transform: uppercase;
      position: relative;
      z-index: 5;
    }
  }
  .container {
    padding: 30px;
    .blog-title {
      font-size: 24px;
      font-weight: 500;
      padding-bottom: 15px;
      border-bottom: 1px solid #000;
      color: #000;
      margin-top: 20px;
    }
    .time {
      font-style: italic;
    }
    .blog-img {
      width: 100%;
    }
    .blog-heading {
      font-size: 34px;
      font-weight: 500;
      padding-bottom: 15px;
      border-bottom: 1px solid #000;
      color: #000;
      margin-top: 45px;
    }
    .txt {
      font-size: 18px;
      line-height: 32px;
      color: #000;
      font-weight: 300;
    }
    .tags {
      display: flex;
      flex-direction: row;
      flex-flow: wrap;
      width: 100%;
      .tag {
        border: 1px solid #eee;
        border-radius: 2px;
        padding: 4px 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        cursor: pointer;
        &:hover {
          border-color: #6bbcff;
          color: #6bbcff;
        }
      }
    }
  }
}
