.ypf {
  .banner {
    width: 100%;
    height: 550px;
    background-image: url("/ydd-photos/youngprof.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    &.teens {
      background-image: url("/ydd-photos/teenslide.jpg");
    }
    p {
      text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
      color: #fff;
      margin-bottom: 0;
      font-size: 40px;
      line-height: 50px;
      letter-spacing: 1px;
      text-transform: uppercase;
      z-index: 5;
      position: absolute;
      text-align: center;
      top: 45%;
      right: 20%;
      span {
        display: block;
        color: #fff;
        font-weight: 200;
        font-size: 30px;
        margin-bottom: 30px;
        display: block;
        font-family: "Clicker Script", cursive;
      }
    }
  }
  .banner.couples-bg {
    background-image: url("/ydd-photos/coupleslider.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    h3 {
      font-size: 46px;
      text-transform: none;
      font-weight: 200;
      line-height: 48px;
      color: #f7d6ac;
      letter-spacing: 1.5px;
      text-align: center;
      text-shadow: 4px 3px 5px rgb(14, 33, 33);
      strong {
        display: block;
      }
    }
  }

  .page-heading {
    text-align: center;
    background-color: #fafafa;
    padding: 60px 0;
    hr {
      display: block;
      clear: both;
      margin-top: 20px;
      margin-bottom: 20px;
      background: #ccc;
      width: 60%;
      height: 2px;
      border: none;
      border: 2px solid #8fcc11;
    }
    span {
      margin: 0 0 18px 0;
      color: #333333;
      font-weight: 400;
      line-height: 1.5em;
      letter-spacing: 1px;
    }
  }
  .heading {
    font-weight: 600;
    width: 100%;
    font-size: 24px;
    color: #222;
    padding-bottom: 20px;
    border-bottom: 1px solid #8fcc11;
  }

  &.couples {
    .heading {
      border-bottom: 1px solid #a40073;
    }
    .page-heading {
      text-align: center;
      background-color: #fafafa;
      padding: 60px 0;
      hr {
        border: 2px solid #a40073;
      }
    }
    .objectives {
      .circle-wrap {
        margin: 100px auto;
        .circle {
          border: 5px solid #a40073 !important;
          .inner {
            background-color: #a40073 !important;
          }
        }
      }
    }
    .cards-wrap {
      box-shadow: 0px 10px 10px 0px rgba(164, 0, 115, 0.45) !important;
    }
  }
  .ypf-content {
    .header-desc {
      padding: 30px 0;

      font-size: 16px;
      color: #222;
      line-height: 20px;
      padding: 0;
      line-height: 26px;
      // border-bottom: 1px solid #8fcc11;
    }
    .small-carousel {
      height: 300px;
      overflow: hidden;
      .carousel {
        width: 100%;
        height: 300px;
        .slide {
          width: 100%;
          height: 100%;
          // background-image: url("/ydd-photos/YDD-Banner.jpg");
          background-size: cover;
          background-position: center;
        }
      }

      .ant-carousel .slick-dots-bottom {
        position: relative;
        top: -290px;
        li button {
          background-color: #222 !important;
          width: 10px !important;
          height: 10px !important;
          border-radius: 100% !important;
          margin: 0 5px !important;
        }
        li.slick-active button {
          margin: 0 5px !important;
          background-color: #3bafda !important;
        }
      }
    }
    .stagnant {
      height: 600px;
      background-image: url("/ydd-photos/Teens.jpg");
      opacity: 0.5;
      display: flex;
      justify-content: center;
      align-items: center;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      font-family: Roboto;
      font-style: normal;
      font-weight: 200;
      font-size: 54px;
      line-height: 28px;
      color: #000000;
      text-shadow: 4px 3px 5px rgb(14, 33, 33);
      color: #fff;
    }
    .objectives {
      padding: 80px 0;
      h3 {
        font-size: 16px;
        color: #222;
        line-height: 26px;
        padding: 0;
      }
      .circle-wrap {
        margin: 100px auto;
        &.teens-circle {
          .circle {
            .inner1 {
              background-image: url("../../public/ydd-photos/prayingimage.png");
            }
            .inner2 {
              background-image: url("../../public/ydd-photos/marriage.jpg");
            }
            .inner3 {
              background-image: url("../../public/ydd-photos/networkpeople.png");
            }
          }
        }
        .circle {
          width: 600px;
          height: 600px;
          border-radius: 50%;
          position: relative;
          border: 5px solid #8fcc11;
          text-align: center;
          .inner {
            width: 220px;
            height: 220px;
            border-radius: 50%;
            background-color: #8fcc11;
            position: absolute;
            border: 15px solid #fff;
            background-size: cover;
            background-position: center;
          }
          .inner1 {
            left: 50%;
            margin-left: -90px;
            margin-top: -110px;
            background-image: url("../../public/ydd-photos/Ypftraining.jpg");
          }
          .inner1:hover {
            background-image: url("../../public/ydd-photos/ypf5.jpg");
          }
          .inner2 {
            left: 0px;
            top: 120px;
            margin-left: -70px;
            background-image: url("../../public/ydd-photos/ypfidea.jpg");
          }
          .inner2:hover {
            background-image: url("../../public/ydd-photos/ypf2.jpg");
          }
          .inner3 {
            right: 0px;
            top: 120px;
            margin-right: -90px;
            background-image: url("../../public/ydd-photos/ypffunding.jpg");
          }
          .inner3:hover {
            background-image: url("../../public/ydd-photos/ypf3.jpg");
          }
          .inner4 {
            left: 0px;
            top: 430px;
            margin-left: 20px;
            background-image: url("../../public/ydd-photos/YPFMentorship3.png");
          }
          .inner4:hover {
            background-image: url("../../public/ydd-photos/ypf4.jpg");
          }
          .inner5 {
            right: 0px;
            top: 430px;
            margin-right: 20px;
            background-image: url("../../public/ydd-photos/YPFGospel.jpg");
          }
          .inner5:hover {
            background-image: url("../../public/ydd-photos/ypf1.jpg");
          }
          .text {
            position: relative;
            top: 45%;
            width: 50%;
            text-align: center;
            margin: 0 auto;
            color: #000;
            font-size: 16px;
          }
          &.couples-circles {
            .inner2 {
              left: 260px;
              top: -110px;
              &:hover {
                background-image: url("../../public/ydd-photos//ypf4.jpg");
              }
            }

            .inner3 {
              right: 0px;
              top: calc(300px - 110px);
              margin-right: -90px;
              &:hover {
                background-image: url("../../public/ydd-photos//ypf1.jpg");
              }
            }

            .inner4 {
              left: 0px;
              top: calc(300px - 110px);
              margin-left: -90px;
              &:hover {
                background-image: url("../../public/ydd-photos//ypf3.jpg");
              }
            }

            .inner5 {
              left: 200px;
              top: calc(600px - 110px);
              &:hover {
                background-image: url("../../public/ydd-photos//ypf2.jpg");
              }
            }
          }
        }
      }
    }
    .inner-desc {
      width: 60%;
      font-size: 16px;
      color: #222;
      line-height: 20px;
      padding: 0;
      line-height: 26px;
    }
    .cards-wrap {
      padding: 30px 20px 20px;
      margin: 30px 0 0 0;
      box-shadow: 0px 10px 10px 0px rgba(142, 204, 17, 0.199);

      .ant-card-body {
        padding: 20px 0;
      }
      .card-text {
        font-size: 16px;
        color: #222;
        line-height: 24px;
        padding: 0;
      }
    }
  }

  @media (max-width: 767px) {
    .banner {
      height: 350px;
      p {
        font-weight: 200;
        line-height: 36px;
        color: #f7d6ac;
        letter-spacing: 1.5px;
        text-shadow: 4px 3px 5px #0e2121;
        margin-bottom: 0;
        font-size: 25px;
        z-index: 5;
        position: absolute;
        text-align: center;
        top: 45%;
        right: unset;
        width: 99%;
      }
    }
    .ypf-content {
      .inner-desc {
        width: 90%;
      }
      .objectives {
        padding: 80px 20px;
        .circle-wrap {
          .circle {
            width: 80%;
            height: 80vw;
            margin: 0 10%;
            .text {
              position: relative;
              top: 25%;
              width: 50%;
              text-align: center;
              margin: 0 auto;
              color: #000;
              font-size: 14px;
            }
            .inner {
              width: 110px;
              height: 110px;
              border: 0;
            }
            .inner1 {
              margin-left: -60px;
              margin-top: -70px;
            }
            .inner3 {
              right: 0px;
              top: 60px;
              margin-right: -40px;
            }
            .inner2 {
              top: 60px;
              margin-left: -45px;
            }
            .inner5 {
              top: 255px;
            }
            .inner4 {
              top: 255px;
            }
          }
        }
      }
      .cards-wrap .card-text {
        margin-bottom: 40px;
      }
    }

    &.couples {
      .ypf-content {
        .inner-desc {
          width: 90%;
        }
        .objectives {
          padding: 80px 20px;
          .circle-wrap {
            .circle {
              width: 80%;
              height: 80vw;
              margin: 0 10%;
              .text {
                position: relative;
                top: 25%;
                width: 50%;
                text-align: center;
                margin: 0 auto;
                color: #000;
                font-size: 14px;
              }
              .inner {
                width: 110px;
                height: 110px;
                border: 0;
              }
              .inner2 {
                top: -76px;
                left: 130px;
              }
              .inner4 {
                top: 100px;
                margin-left: -50px;
              }
              .inner3 {
                top: 100px;
                margin-right: -60px;
              }
              .inner5 {
                top: 255px;
                left: 100px;
              }
            }
          }
        }
      }
    }
  }
}
